<h3><%=@post_decorator.title%></h3>
<p><%=@post_decorator.publication_date%></p>
<p>
	<%=@post_decorator.post_text%>
</p>
<%if @post_decorator.is_front_page?%>
	<p>
		<%=image_tag(@post_decorator.image_link)%>
	</p>
<%end%>