<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<h5>Posts</h5>
<p>
	<%if @posts.present?%>
		<ul>
			<%@posts.each do |p|%>
				<li><%=p.post_text%><br></li>
			<%end%>
		</ul>
	<%end%>
</p>
<p>
	<%=link_to "New Post", new_posts_form_path%>
</p>